


<h1>Hi</h1>
<%#=user.email%>
<h3>Users</h3>
<%#=render  @users%>
<h4>Chatrooms</h4>
<%#=render @chatrooms%>
<div class="message">
<form>
    <label for="message">Message:</label>
    <input type="text" id="message" placeholder="Enter your message..." />
    <button type="submit">Send</button>
  </form>
  </div>
 <%= link_to "Back to chatrooms", chatrooms_path %>